---
import Layout from "../layouts/Layout.astro";
---
<Layout>
        <div>
                <h1>About</h1>
                <span>About my life, both professionally and personally</span>
        </div>
        <section>
                <div>
                        <h2>Technology</h2>
                        <span>My professional life</span>
                </div>
                <div>
                        <h2>Photography</h2>
                        <span>A method of expression</span>
                </div>
                <div>
                        <h2>Music</h2>
                        <span>Where I learned hard work</span>
                </div>
        </section>
</Layout>