---
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
---

<Layout>
    <main transition:animate={slide({ duration: '1.0s' })}>
       <div class="flex flex-col pt-2 pb-4 items-center h-fit bg-slate-700 w-full max-w-screen-md mx-auto">
        <h1 class="text-3xl py-4">Contact me</h1>
        <div class="pt-2 pb-4">
          <Socials />
        </div>  
           <form class="flex flex-col gap-4 items-center justify-center px-8 w-full" id="contact-form" method="post" action="/.netlify/functions/send">
            <div class="flex flex-col md:flex-row gap-4 w-full">
              <div class="flex flex-col w-full">
                  <label for="name">Name:</label>
                  <input class="text-black px-2" type="text" name="name" placeholder="John Doe" required>
              </div>
              <div class="flex flex-col w-full">
                  <label for="email">Email:</label>
                  <input class="text-black px-2" type="email" name="email" placeholder="johndoe@example.com" required>
              </div>
            </div>
            <div class="flex flex-col w-full">
              <label for="subject">Subject:</label>
              <input class="text-black px-2" type="text" name="email" placeholder="Your next project" required>
          </div>
            <div class="flex flex-col w-full">
                <label for="message">Message:</label>
                <textarea class="text-black px-2" name="message" placeholder="Hi, I want to collaborate!" rows="4" required></textarea>
            </div>
            <button class="bg-slate-900 px-4 py-2 transition duration-200 hover:scale-110 hover:bg-slate-800" type="submit">Send</button>
          </form>      
       </div>
    </main>
    <script type="module">
        document.getElementById('contact-form').addEventListener('submit', async function(e) {
          e.preventDefault();
          
          const formData = new FormData(e.target);
          const data = Object.fromEntries(formData);
          const submitButton = e.target.querySelector('button[type="submit"]');
          
          submitButton.disabled = true;  // Disable the submit button
          
          const response = await fetch(e.target.action, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });
          
          if (response.ok) {
            alert('Email sent successfully!');
          } else {
            alert('Error sending email.');
          }
          
          submitButton.disabled = false;  // Re-enable the submit button
        });
      </script>
</Layout>