---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main transition:animate="slide">
       <h1>Contact me below:</h1>
       <form class="flex flex-col gap-4 items-center justify-center h-96" id="contact-form" method="post" action="/.netlify/functions/send">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send</button>
      </form>      
    </main>
</Layout>