---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main transition:animate="slide">
       <h1>Contact me below:</h1>
       <form class="flex flex-col gap-4 items-center justify-center h-96" id="contact-form" method="post" action="/.netlify/functions/send">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send</button>
      </form>      
    </main>
    <script type="module">
        document.getElementById('contact-form').addEventListener('submit', async function(e) {
          e.preventDefault();
          
          const formData = new FormData(e.target);
          const data = Object.fromEntries(formData);
          const submitButton = e.target.querySelector('button[type="submit"]');
          
          submitButton.disabled = true;  // Disable the submit button
          
          const response = await fetch(e.target.action, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });
          
          if (response.ok) {
            alert('Email sent successfully!');
          } else {
            alert('Error sending email.');
          }
          
          submitButton.disabled = false;  // Re-enable the submit button
        });
      </script>
</Layout>