---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<main class="text-5xl">
	<h1>Hi, I'm <span class="text-primary font-bold">Neal</span></h1>
	<p>I make useful <a href="/web" class="text-primary font-bold">websites</a></p>
	<p>I take cool <a href="/photography" class="text-primary font-bold">photos</a></p>
	<p>I make pretty <a href="/music" class="text-primary font-bold">music</a></p>
</main>
</Layout>