---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout>
<main class="text-4xl py-12">
	<div class="flex items-center justify-center">
		<div class="w-1/4 px-4">
			<Image src="https://res.cloudinary.com/dwbwyzsyp/image/upload/v1688590330/Portfolio/Seattle_square.jpg" height="4000" width="4000" alt="Neal over the seattle skyline" />
		</div>
		<div>
			<h1>Hi, I'm <span class="text-primary text-5xl font-bold">Neal</span></h1>
			<p class="py-2">I make useful <a href="/web" class="text-primary text-5xl font-bold transition hover:translate-x-8 ease-in-out duration-110 inline-block">websites</a></p>
			<p class="py-2">I take cool <a href="/photography" class="text-primary text-5xl font-bold transition hover:translate-x-8 ease-in-out duration-110 inline-block">photos</a></p>
			<p class="py-2">I make pretty <a href="/music" class="text-primary text-5xl font-bold transition hover:translate-x-8 ease-in-out duration-110 inline-block">music</a></p>
			<p class="py-2">If you want my help with those,</p>
			<a href="/contact" class="block my-4 py-3 px-2 rounded-xl text-white text-3xl bg-primary text-5xl w-fit border-2 border-gray-500 transition hover:bg-primary/50 hover:scale-110 ease-in-out duration-110">Let's Chat</a>
		</div>
	</div>
</main>
</Layout>