---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
---
<Layout>
    <h1>I'm a web developer</h1>
    <p>In the summer of 2022, I decided I wanted to really pursue a career in the tech industry. After almost a decade of interest in the field, I decided to take the first step and joined a bootcamp called 100Devs. During my time there and after graduation, I've been able to find work as a freelance web developer. Currently, I'm adding C# to my stack with Code You, a developer program here in Kentucky.</p>
    <Project />
</Layout>