---
const {title, url, pubDate, summary, tags} = Astro.props
---
<div class="bg-gray-700 hover:scale-110 hover:bg-gray-600 transition duration-200 h-full">
    <a class="inline-block h-full w-full border px-4 py-2" href={url}>
        <div class="flex flex-col justify-evenly h-full gap-2">   
            <h1 class="text-3xl">{title}</h1>
            <span class="text-sm text-white/50 italic">{pubDate.toLocaleString('en-US')}</span>
            <p>{summary}</p>
            <span class="text-sm text-white/50">Tags: {tags}</span>
            
        </div>
    </a>
</div>