---

---
<nav class="py-8 px-4 text-2xl max-w-screen-xl mx-auto">
    <div class="flex justify-between">
        <a href="/"><h2>Neal Powers</h2></a>
        <div class="flex">
            <a class="px-4 transition duration-150 hover:-translate-y-2 hover:text-primary hover:scale-125" href="/">Home</a>
            <a class="px-4 transition duration-150 hover:-translate-y-2 hover:text-primary hover:scale-125" href="/web">Web</a>
            <a class="px-4 transition duration-150 hover:-translate-y-2 hover:text-primary hover:scale-125" href="/photography">Photography</a>
            <a class="px-4 transition duration-150 hover:-translate-y-2 hover:text-primary hover:scale-125" href="/music">Music</a>
            <a class="px-4 transition duration-150 hover:-translate-y-2 hover:text-primary hover:scale-125" href="/contact">Contact</a>
        </div>
    </div>
</nav>