---
import { Icon } from "astro-icon";
---
<div class="flex flex-col items-center">
    <nav class="fixed md:relative py-6 px-4 text-2xl w-full mx-8 bg-gray-600/50 z-20 text-white">
        <div>
            <div class="flex flex-col md:flex-row justify-between w-full">
                <div class="flex items-center w-full">
                    <button class="block md:hidden px-4" id="hamburger-button"><Icon class="text-white w-8" pack="mdi" name="menu"/></button>
                    <a href="/" class="flex"><h2>Neal Powers</h2><Icon class="w-8 mx-2" pack="mdi" name="lightning-bolt"/></a>
                </div>
        <!-- Desktop -->
                <ul class="hidden md:flex">
                    <li class="px-4 transition duration-150 hover:-translate-y-2 hover:scale-125">
                        <a href="/">Home</a>
                    </li>
                    <li class="px-4 transition duration-150 hover:-translate-y-2 hover:scale-125">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="px-4 transition duration-150 hover:-translate-y-2 hover:scale-125">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="px-4 transition duration-150 hover:-translate-y-2 hover:scale-125">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
        </div>
    <!-- Mobile -->
            <div class="w-full flex flex-col items-center">
                <ul class="absolute hidden flex flex-col gap-48 justify-center items-center bg-slate-900/90 w-full h-screen my-8" id="mobile-nav">
                    <li class="flex flex-col items-center">
                        <a class="px-4 transition duration-150 hover:text-primary hover:scale-125 flex flex-col items-center" href="/projects">
                            <Icon class="text-white w-8" pack="mdi" name="folder"/>
                            <div>Projects</div>
                        </a>
                    </li>
                    <li class="flex flex-col items-center">
                        <a class="px-4 transition duration-150 hover:scale-125 flex flex-col items-center" href="/blog">
                            <Icon class="text-white w-8" pack="mdi" name="notebook" />
                            <div>Blog</div>
                        </a>
                    </li>
                    <li class="flex flex-col items-center">
                        <a class="px-4 transition duration-150 hover:scale-125 flex flex-col items-center" href="/contact">
                            <Icon class="text-white w-8" pack="mdi" name="account-voice" />
                            <div>Contact</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script>
    document.addEventListener('astro:page-load', () => {
        const button = document.getElementById('hamburger-button');
        const nav = document.getElementById('mobile-nav');

        if (button && nav) {
            button.addEventListener('click', () => {
                nav.classList.toggle('hidden')
            });
        }
    });
</script>