---

---
<nav class="py-8 text-2xl">
    <div class="flex justify-between">
        <h2 class="px-4">Neal Powers</h2>
        <div class="">
            <a class="px-4 transition duration-150 hover:-translate-y-4 hover:text-primary hover:scale-125" href="/">Home</a>
            <a class="px-4 transition duration-150 hover:-translate-y-4 hover:text-primary hover:scale-125" href="/web">Web</a>
            <a class="px-4 transition duration-150 hover:-translate-y-4 hover:text-primary hover:scale-125" href="/photography">Photography</a>
            <a class="px-4 transition duration-150 hover:-translate-y-4 hover:text-primary hover:scale-125" href="/music">Music</a>
            <a class="px-4 transition duration-150 hover:-translate-y-4 hover:text-primary hover:scale-125" href="/contact">Contact</a>
        </div>
    </div>
</nav>