---
import { Image } from "astro:assets";
let title = 'Title'
---

<li>
    <h3>{title}</h3>
    <Image 
    src="./images/robbie"
    width="500"
    height="500"
    alt="A screenshot of a project"/>
</li>