---
import Icon from "astro-icon";
---
<div class="flex gap-4">
    <a class="text-white transition duration-200 hover:scale-125" href="https://github.com/Nealium104"><Icon class="w-8" name="github" pack="mdi"/></a>
    <a class="text-white transition duration-200 hover:scale-125" href="https://www.facebook.com/neal.grindstaff"><Icon class="w-8" name="facebook" pack="mdi"/></a>
    <a class="text-white transition duration-200 hover:scale-125" href="https://www.instagram.com/nealium1221/"><Icon class="w-8" name="instagram" pack="mdi"/></a>
    <a class="text-white transition duration-200 hover:scale-125" href="https://www.linkedin.com/in/neal-powers/"><Icon class="w-8" name="linkedin" pack="mdi"/></a>
</div>