---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/fira-sans'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neal Powers</title>
		<ViewTransitions />
	</head>
    <body class="bg-gray-800 text-white/90 w-full mx-auto">
        <Nav />
		<main class="pt-36 md:pt-8 min-h-screen max-w-screen-xl bg-gray-900 mx-auto px-4">
			<slot />
		</main>
		<Footer />
    </body>
</html>