---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/fira-sans'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neal Powers</title>
		<ViewTransitions />
	</head>
    <body class="px-8 bg-red-900 text-white/90 max-w-screen-xl">
        <div class="max-w-screen-xl mx-auto">
            <Nav />
            <main class="pt-12 min-h-screen max-w-screen-xl mx-auto bg-red-800 px-4">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>